services:
  app:
    container_name: mk-vallartavows
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8002:3000"
    environment:
      - NODE_ENV=production
    env_file:
      - .env.local
      - .env
